$font-first: 'Rubik', sans-serif;
$font-second: 'Monoton', sans-serif;

$colors:(
    first: #15345B,
    second: #212529,
    third: #004aad,
    fourth: #ffffff,
);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
}

// Nav

.navbar{
    position: sticky;
    top: -25px;
    background-color: map-get($colors, "fourth");
    z-index: 3000;
}

.navbar-content-logo{
    margin: 30px 0 0 0;
}

.navbar-brand{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    margin: auto;
}

.navbar-logo{
    width: 100%;
    object-fit: contain;
}

.navbar-content{
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: $font-first;
}

.navbar-nav{
    display: flex;
    width: 80%;
    justify-content: end;
    text-align: center;
    margin-left: 4em;
}

.nav-item{
    padding: 0 15px;
}

.nav-link{
    width: fit-content;
    font-weight: 400;
    padding: 3px 0 0 0;
    color: map-get($colors, "second");
    transition: all 0.3s;
    border-bottom: 3px solid rgb(0, 0, 0, 0);
}

.nav-link:hover{
    color: map-get($colors, "first");
}

.nav-link::after{
    content: "";
    display: flex;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: map-get($colors, "third");
    
    /*animacion de derecha a izquierda*/
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.2s ease-in-out;
  }
  
.nav-link:hover::after{
    /*animacion de derecha a izquierda*/
    transform-origin: left;
    transform: scaleX(1);
}

.content-cv{
    width: fit-content;
    border-radius: 25px;
    background-color: map-get($colors, "first");
}

.content-cv:hover{
    background-color: map-get($colors, "third");
}

.content-cv-mobile{
    margin: 4em auto 0;
    width: fit-content;
}

.content-cv-mobile a{
    padding: 0.7em;
}

.cv{
    transition: all 0.3s;
    color: map-get($colors, "fourth");
}

.cv:hover{
    color: map-get($colors, "fourth");
}

.icon-cv{
    color: map-get($colors, "fourth");
}

// Intro

.content-intro{
    margin: auto;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 2em 0;
    margin-top: 2em;
    font-family: $font-first;
}

.photo-intro{
    border-radius: 50%;
}

.title-intro{
    text-align: center;
    margin: auto;
    display: flex;
    justify-content: center;
    font-size: 3em;
    font-weight: 600;
    color: map-get($colors, "second");
}

.subtitle-intro{
    margin: 1em 0 3em 0;
    font-size: 1.2em;
    color: map-get($colors, "second");;
}

// Devices

.content-devices{
    display: flex;
    margin: 6em auto 0;
}

.img-devices{
    display: flex;
    margin: auto;
}

// Presentation

.content-presentation{
    background-color: map-get($colors, "first");
    color: map-get($colors, "fourth");
    font-family: $font-first;
    padding: 8em 0 13em 0;
    text-align: center;
}

.title-presentation{
    margin: auto;
    padding: 0 0 2em 0;
    font-weight: 600;
}

.text-presentation{
    margin: auto;
    font-size: 1.1em;
}

// Skills

.content-skills{
    margin: auto;
    position: relative;
    padding: 2em;
    top: -6em;
    border-radius: 10px;
    border: 1px #004bad34 solid;
    z-index: 100;
    font-family: $font-first;
    background-color: map-get($colors, "fourth");
}

.title-skills{
    margin: 0.5em auto 1em;
    font-weight: 600;
    font-size: 2.5em;
    text-align: center;
}

.skills{
    width: 100%;
    margin: auto;
}

.content-img-skills{
    padding: 0.5em;
    overflow: hidden;
    transition: all 0.3s;
}

.img-content{
    border-radius: 50%;
    transition: all 0.3s;
    margin: 0.5em;
    overflow: hidden;
}

.img-skills{
    border-radius: 50%;
    object-fit: contain;
    transition: all 0.3s;
    opacity: 0.9;
}

.img-content:hover > .img-skills{
    transform: scale(1.25);
    opacity: 1;
    rotate: -4grad;
    box-shadow: inset 0 0 35px 5px rgba(0,0,0,0.25), inset 0 2px 1px 1px rgba(255,255,255,0.9), inset 0 -2px 1px rgba(0,0,0,0.25);
}

// Projects

.content-projects{
    font-family: $font-first;
    margin: 0 auto 5em;
    padding: 3em 0;
    text-align: center;
}

.title-projects{
    font-weight: 600;
    font-size: 2.5em;
    margin: 0 auto 1em;
}

.projects{
    margin: auto;
}

.content-img-projects{
    margin: auto;
    border-radius: 10px;
    height: 240px;
    overflow: hidden;
    margin: 1em auto;
}

.content-img-projects:hover > .content-hover{
    opacity: 1;
}

.content-img{
    position: relative;
    width: 100%;
    height: 240px;
}

.img-projects{
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.content-hover{
    position: relative;
    top: -240px;
    width: 100%;
    height: 240px;
    display: flex;
    flex-direction: column;
    background-color: map-get($colors, "first");
    border-radius: 10px;
    opacity: 0;
    color: map-get($colors, "fourth");
    justify-content: center;
    margin: auto;
    transition: all 0.5s;
}

.projects-title{
    font-weight: 500;
    padding: 1em;
    margin: 2em auto;
    font-size: 1em;
}

.projects-button{
    border: 2px solid map-get($colors, "third");
    padding: 0.4em;
    border-radius: 50px;
    color: map-get($colors, "fourth");
    background-color: map-get($colors, "first");
    transition: all 0.6s;
    margin:0 auto 0.5em;
}

.projects-button:hover{
    background-color: map-get($colors, "third");
    animation-name: boton;
    animation-duration: 0.4s;
}

.projects-button a{
    text-decoration: none;
}

.projects-skills img{
    width: calc(100%/8);
    padding: 0.1em;
    margin: 2em auto;
}

// Certificates

.certificates{
    margin: 6em auto;
    text-align: center;
    font-family: $font-first;
}

.title-certificates{
    font-weight: 600;
    font-size: 2.5em;
    margin: 0 auto 1em;
}

.content-certificates{
    justify-content: center;
    display: flex;
    margin: 0 auto 2em;
}

.img-certificates{
    object-fit: cover;
    opacity: 0.95;
    transition: all 0.2s ease-in-out;
}

.content-certificates:hover > .img-certificates{
    transform: scale(1.05) rotate(-1deg);
    opacity: 1;
}

.content-img-effect{
    display: block;
    position: fixed;
    z-index: 3000;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(21, 52, 91, 0.3);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}

.img-effect{
    width: 90vw;
    padding: 15%;
}

.content-img-effect:target{
    transform: scale(1);
}

.icon-img-effect{
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
    background-color: map-get($colors, "first");
    color: map-get($colors, "fourth");
    padding: 1em;
    border-radius: 50%;
    transition: all 0.2s;
    border: 2px solid map-get($colors, "fourth");
}

.icon-img-effect:hover{
    color: map-get($colors, "first");
    background-color: map-get($colors, "fourth");
}

// Contact

.content-contact{
    margin: 5em auto 10em;
    text-align: center;
    padding: 3em;
    font-family: $font-first;
}

.title-contact{
    font-weight: 600;
    font-size: 2.5em;
    color: map-get($colors, "second");;
}

.text-contact{
    margin: 1em 0 3em 0;
    font-size: 1.2em;
}

.content-form{
    display: flex;
    justify-content: center;
}

form{
    margin: auto;
    justify-content: center;
}

form label{
    display: flex;
    padding: 1.2em 0 0 0;
}

form textarea{
    margin-bottom: 2em;
}

form button{
    border: 2px solid map-get($colors, "first");
    padding: 0.7em;
    border-radius: 50px;
    color: map-get($colors, "first");
    background-color: map-get($colors, "fourth");
    transition: all 0.6s;
}

form button:hover{
    color: map-get($colors, "fourth");
    background-color: map-get($colors, "first");
    animation-name: boton;
    animation-duration: 0.5s;
}

@keyframes boton{
    0%{
        outline: 0px solid map-get($colors, "third");
        outline-offset: 0px;
    }

    50%{
        outline: 8px solid map-get($colors, "third");
        outline-offset: 2px;
    }

    100%{
        outline: 2px solid rgb(0, 74, 173, 0.1);
        outline-offset: 15px;
    }
}

// Footer

.content-footer{
    margin: auto;
    background-color: map-get($colors, "first");
    padding: 5em 0;
    font-family: $font-first;
}

.content-logo-footer{
    margin: auto;
}

.logo-footer{
    margin: auto;
    display: flex;
    justify-content: center;
}

.text-footer{
    color: map-get($colors, "fourth");
    margin: auto;
    text-align: center;
    padding: 3em 0;
    font-size: 1.2em;
}

.content-sm{
    margin: auto;
}

.sm-content{
    margin: auto;
    width: calc(100%/4);
    justify-content: center;
    display: flex;
}

.img-sm{
    padding: 1em;
    margin: auto;
    transform: scale(1.2);
    color: map-get($colors, "fourth");
}

.content-img-sm{
    background-color: map-get($colors, "first");
    border-radius: 50%;
    margin: auto 1em;
    border: 2px solid map-get($colors, "third");
    transition: all 0.4s;
}

.content-img-sm:hover{
    background-color: map-get($colors, "fourth");
}

.link-sm:hover > .img-sm{
    color: map-get($colors, "first");
}

// Answer

.content-answer{
    margin: 2em 0 0 0;
}

.content-answer a{
    display: flex;
    width: 100%;
    padding: 1em;
    text-decoration: none;
    justify-content: space-between;
}

.content-answer a i{
    color: map-get($colors, "first");
    width: fit-content;
    height: fit-content;
    transition: all 0.3s;
    margin-top: 1em;
    margin-left: 2em;
}

.content-answer a i:hover{
    transform: scale(1.2);
}

// CV

.content-img-cv{
    margin: 3em auto;
}

.img-cv{
    padding: 0;
    border: 10px solid #284d84;
}